body{
    background-color: rgb(231, 228, 224);
    
}
table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    padding: 10px 20px;
}
input, select, button{
    outline: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px inset, 0px 5px 20px;
    border: none;
}
form div{
    display: inline-block;
    margin-left: 150px;
}
table{
    margin: 20px 0 0 150px;
}
#card h3{
    display: inline-block;
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: .1s;
}
h3:hover{
    box-shadow: 2px 2px 5px;
}